In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Save file path to variable
retail_history_csv = "Datasets/EstUS_Retail_Trade_E-commercehistory.csv"
US_totalrev_2018_2017_csv = "Datasets/US_Total_rev_2018and2017.csv"

In [3]:
# Read with pandas
retail_history_df = pd.read_csv(retail_history_csv)
retail_history_df.head()

,NAICS Code,Unnamed: 1,2018,Unnamed: 3,2017r,Unnamed: 5,2016r,Unnamed: 7,2015r,Unnamed: 9,...,2002,Unnamed: 35,2001,Unnamed: 37,2000,Unnamed: 39,1999,Unnamed: 41,1998,Unnamed: 43
0,NaN,Total Retail Trade ………………………...……………………………………,"5,269,468","519,635","5,053,151","458,916","4,852,958","397,252","4,725,993","346,188",...,"3,128,552","44,623","3,062,268","34,260","2,983,276","27,608","2,803,090","14,490","2,581,762","4,984"
1,441.0,Motor vehicle and parts dealers …………………………...…...,"1,191,321","35,348","1,172,367","32,106","1,140,614","30,739","1,094,112","30,145",...,"818,811","7,059","815,579","5,271","796,210","4,090","764,204","1,704","688,415",382
2,442.0,Furniture and home furnishings stores ……………………...,"116,895","1,533","113,035","1,279","110,404","1,081","106,570",996,...,"94,438",S,"91,484",S,"91,170",S,"84,294",S,"77,412",S
3,443.0,Electronics and appliance stores …………………………......,"100,205","2,056","98,570","2,113","99,043","2,069","103,658","1,930",...,"91,208",NaN,"88,493",NaN,"90,422",NaN,"87,363",NaN,"82,731",NaN
4,444.0,Building mat. and garden equip. and supplies d...,"381,313","2,795","365,622","2,614","348,697","2,327","331,611","1,939",...,"248,539",284,"239,379",234,"228,994",152,"218,290",132,"202,423",25

In [4]:
# Clean up DF
retail_history_df = retail_history_df.rename(columns={"Unnamed: 1": "Kind of Business",
                                 "2018": "2018 Total",
                                 "Unnamed: 3": "2018 Ecommerce Total",
                                 "2017r": "2017 Total",
                                 "Unnamed: 5": "2017 Ecommerce Total",
                                 "2016r": "2016 Total",
                                 "Unnamed: 7": "2016 Ecommerce Total",
                                 "2015r": "2015 Total",
                                 "Unnamed: 9": "2015 Ecommerce Total",
                                 "2014r": "2014 Total",
                                 "Unnamed: 11": "2014 Ecommerce Total",
                                 "1998": "1998 Total",
                                 "Unnamed: 43": "1998 Ecommerce Total"
                                 })
retail_history_df.head()

,NAICS Code,Kind of Business,2018 Total,2018 Ecommerce Total,2017 Total,2017 Ecommerce Total,2016 Total,2016 Ecommerce Total,2015 Total,2015 Ecommerce Total,...,2002,Unnamed: 35,2001,Unnamed: 37,2000,Unnamed: 39,1999,Unnamed: 41,1998 Total,1998 Ecommerce Total
0,NaN,Total Retail Trade ………………………...……………………………………,"5,269,468","519,635","5,053,151","458,916","4,852,958","397,252","4,725,993","346,188",...,"3,128,552","44,623","3,062,268","34,260","2,983,276","27,608","2,803,090","14,490","2,581,762","4,984"
1,441.0,Motor vehicle and parts dealers …………………………...…...,"1,191,321","35,348","1,172,367","32,106","1,140,614","30,739","1,094,112","30,145",...,"818,811","7,059","815,579","5,271","796,210","4,090","764,204","1,704","688,415",382
2,442.0,Furniture and home furnishings stores ……………………...,"116,895","1,533","113,035","1,279","110,404","1,081","106,570",996,...,"94,438",S,"91,484",S,"91,170",S,"84,294",S,"77,412",S
3,443.0,Electronics and appliance stores …………………………......,"100,205","2,056","98,570","2,113","99,043","2,069","103,658","1,930",...,"91,208",NaN,"88,493",NaN,"90,422",NaN,"87,363",NaN,"82,731",NaN
4,444.0,Building mat. and garden equip. and supplies d...,"381,313","2,795","365,622","2,614","348,697","2,327","331,611","1,939",...,"248,539",284,"239,379",234,"228,994",152,"218,290",132,"202,423",25

In [5]:
# Drop columns we do not need
retail_history_df = retail_history_df.drop(columns=['2013r',
                                                    'Unnamed: 13',
                                                    '2012r',
                                                    'Unnamed: 15',
                                                    '2011r',
                                                    'Unnamed: 17',
                                                    '2010',
                                                     'Unnamed: 19',
                                                     '2009',
                                                     'Unnamed: 21',
                                                     '2008',
                                                     'Unnamed: 23',
                                                     '2007',
                                                     'Unnamed: 25',
                                                     '2006',
                                                     'Unnamed: 27',
                                                     '2005',
                                                     'Unnamed: 29',
                                                     '2004',
                                                     'Unnamed: 31',
                                                     '2003',
                                                     'Unnamed: 33',
                                                     '2002',
                                                     'Unnamed: 35',
                                                     '2001',
                                                     'Unnamed: 37',
                                                     '2000',
                                                     'Unnamed: 39',
                                                     '1999',
                                                     'Unnamed: 41',
                                                    '2004', 
                                                    'Unnamed: 31',
                                                    '2003', 
                                                    'Unnamed: 33',
                                                    '2002',
                                                    'Unnamed: 35',
                                                    '2001',
                                                    'Unnamed: 37',
                                                    '2000',
                                                    'Unnamed: 39',
                                                    '1999',
                                                    'Unnamed: 41',
                                                   
                                                   ])
retail_history_df.head()

,NAICS Code,Kind of Business,2018 Total,2018 Ecommerce Total,2017 Total,2017 Ecommerce Total,2016 Total,2016 Ecommerce Total,2015 Total,2015 Ecommerce Total,2014 Total,2014 Ecommerce Total,1998 Total,1998 Ecommerce Total
0,NaN,Total Retail Trade ………………………...……………………………………,"5,269,468","519,635","5,053,151","458,916","4,852,958","397,252","4,725,993","346,188","4,639,440","302,485","2,581,762","4,984"
1,441.0,Motor vehicle and parts dealers …………………………...…...,"1,191,321","35,348","1,172,367","32,106","1,140,614","30,739","1,094,112","30,145","1,020,851","27,678","688,415",382
2,442.0,Furniture and home furnishings stores ……………………...,"116,895","1,533","113,035","1,279","110,404","1,081","106,570",996,"99,718",793,"77,412",S
3,443.0,Electronics and appliance stores …………………………......,"100,205","2,056","98,570","2,113","99,043","2,069","103,658","1,930","105,197","1,780","82,731",NaN
4,444.0,Building mat. and garden equip. and supplies d...,"381,313","2,795","365,622","2,614","348,697","2,327","331,611","1,939","318,352",S,"202,423",25

In [6]:
retail_history_df
# D - Denotes an estimate withheld to avoid disclosing data of individual companies; data are included in higher-level totals.
# S - Estimate does not meet publication standards because of high sampling variability (coefficient of variation is greater than 30%), poor response quality (total quantity response rate is less than 50%), or other concerns about the estimate's quality. Unpublished estimates derived from this table by subtraction are subject to these same limitations and should not be attributed to the U.S. Census Bureau. For a description of publication standards and the total quantity response rate, see https://www.census.gov/about/policies/quality/standards/standardf1.html.

,NAICS Code,Kind of Business,2018 Total,2018 Ecommerce Total,2017 Total,2017 Ecommerce Total,2016 Total,2016 Ecommerce Total,2015 Total,2015 Ecommerce Total,2014 Total,2014 Ecommerce Total,1998 Total,1998 Ecommerce Total
0,NaN,Total Retail Trade ………………………...……………………………………,"5,269,468","519,635","5,053,151","458,916","4,852,958","397,252","4,725,993","346,188","4,639,440","302,485","2,581,762","4,984"
1,441.0,Motor vehicle and parts dealers …………………………...…...,"1,191,321","35,348","1,172,367","32,106","1,140,614","30,739","1,094,112","30,145","1,020,851","27,678","688,415",382
2,442.0,Furniture and home furnishings stores ……………………...,"116,895","1,533","113,035","1,279","110,404","1,081","106,570",996,"99,718",793,"77,412",S
3,443.0,Electronics and appliance stores …………………………......,"100,205","2,056","98,570","2,113","99,043","2,069","103,658","1,930","105,197","1,780","82,731",NaN
4,444.0,Building mat. and garden equip. and supplies d...,"381,313","2,795","365,622","2,614","348,697","2,327","331,611","1,939","318,352",S,"202,423",25
5,445.0,Food and beverage stores …………………………...……………………...,"745,736","4,837","725,137","3,431","699,349","2,371","685,381","1,843","669,165","1,596","416,525",10
6,446.0,Health and personal care stores …………………………...…...,"347,454",744,"333,338",S,"327,153",D,"315,244",D,"299,263",D,"129,583",S
7,447.0,Gasoline stations …………………………...……………………………………....,"503,925",S,"459,463",S,"422,792",D,"444,027",D,"538,790",D,"191,727",S
8,448.0,Clothing and clothing access. stores ………………………...,"268,163","10,981","260,566","9,374","260,050","8,134","255,798","6,970","250,409","5,717","149,151",12
9,451.0,"Sporting goods, hobby, musical instrument, and...","81,179","2,617","84,188","2,441","86,483","2,307","85,701","2,103","83,787","2,192","60,441",NaN
10,452.0,General merchandise stores …………………………...………………...,"706,298",S,"687,123",S,"675,389",S,"674,889",255,"667,163",199,"351,081",S
11,453.0,Miscellaneous store retailers …………………………...………...,"130,130",S,"124,538","4,014","121,572","3,660","119,350","3,341","115,878","2,945","98,369",116
12,454.0,Nonstore retailers …………………………...……………………………………...,"696,849","453,584","629,204","400,279","561,412","343,372","509,652","295,888","470,867","257,107","133,904","4,029"
13,4541.0,Electronic shopping and mail-order houses …...,"611,743","451,635","551,298","398,415","488,840","341,699","433,987","294,345","386,065","255,798","80,297","4,008"

In [10]:
# Drop rows that do not have ecommerce data
#[Estimates are shown in millions of dollars and are based on data from the Annual Retail Trade Survey. Estimates have been adjusted using final results of the 2012 Economic Census.] 
retail_history_df = retail_history_df.drop([7])
retail_history_df

,NAICS Code,Kind of Business,2018 Total,2018 Ecommerce Total,2017 Total,2017 Ecommerce Total,2016 Total,2016 Ecommerce Total,2015 Total,2015 Ecommerce Total,2014 Total,2014 Ecommerce Total,1998 Total,1998 Ecommerce Total
0,NaN,Total Retail Trade ………………………...……………………………………,"5,269,468","519,635","5,053,151","458,916","4,852,958","397,252","4,725,993","346,188","4,639,440","302,485","2,581,762","4,984"
1,441.0,Motor vehicle and parts dealers …………………………...…...,"1,191,321","35,348","1,172,367","32,106","1,140,614","30,739","1,094,112","30,145","1,020,851","27,678","688,415",382
2,442.0,Furniture and home furnishings stores ……………………...,"116,895","1,533","113,035","1,279","110,404","1,081","106,570",996,"99,718",793,"77,412",S
3,443.0,Electronics and appliance stores …………………………......,"100,205","2,056","98,570","2,113","99,043","2,069","103,658","1,930","105,197","1,780","82,731",NaN
4,444.0,Building mat. and garden equip. and supplies d...,"381,313","2,795","365,622","2,614","348,697","2,327","331,611","1,939","318,352",S,"202,423",25
5,445.0,Food and beverage stores …………………………...……………………...,"745,736","4,837","725,137","3,431","699,349","2,371","685,381","1,843","669,165","1,596","416,525",10
6,446.0,Health and personal care stores …………………………...…...,"347,454",744,"333,338",S,"327,153",D,"315,244",D,"299,263",D,"129,583",S
8,448.0,Clothing and clothing access. stores ………………………...,"268,163","10,981","260,566","9,374","260,050","8,134","255,798","6,970","250,409","5,717","149,151",12
9,451.0,"Sporting goods, hobby, musical instrument, and...","81,179","2,617","84,188","2,441","86,483","2,307","85,701","2,103","83,787","2,192","60,441",NaN
10,452.0,General merchandise stores …………………………...………………...,"706,298",S,"687,123",S,"675,389",S,"674,889",255,"667,163",199,"351,081",S
11,453.0,Miscellaneous store retailers …………………………...………...,"130,130",S,"124,538","4,014","121,572","3,660","119,350","3,341","115,878","2,945","98,369",116
12,454.0,Nonstore retailers …………………………...……………………………………...,"696,849","453,584","629,204","400,279","561,412","343,372","509,652","295,888","470,867","257,107","133,904","4,029"
13,4541.0,Electronic shopping and mail-order houses …...,"611,743","451,635","551,298","398,415","488,840","341,699","433,987","294,345","386,065","255,798","80,297","4,008"

In [7]:
list(retail_history_df.columns.values)

['NAICS Code',
 'Kind of Business',
 '2018 Total',
 '2018 Ecommerce Total',
 '2017 Total',
 '2017 Ecommerce Total',
 '2016 Total',
 '2016 Ecommerce Total',
 '2015 Total',
 '2015 Ecommerce Total',
 '2014 Total',
 '2014 Ecommerce Total',
 '1998 Total',
 '1998 Ecommerce Total']

In [8]:
US_totalrev_df = pd.read_csv(US_totalrev_2018_2017_csv)
US_totalrev_df.head()

,Unnamed: 0,Table 3. U.S. Services Revenue - Total and Revenue from Electronic Sources: 2018 and 2017,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,Estimates include data only for businesses wit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Value of Revenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,2018,NaN,2017,NaN,Y/Y Percent Change,NaN,Revenue from Electronic Sources as a Percent o...,NaN,Percent Distribution of Revenue from Electroni...,NaN,NaN,NaN,NaN
4,NaN,NAICS Code,Description,Total,Revenue from Electronic Sources,Total,Revenue from Electronic Sources,Total,Revenue from Electronic Sources,2018,2017,2018,NaN,NaN,NaN,NaN

In [9]:
# Rename columns