In [3]:
# Dependencies
import pandas as pd
import numpy as np

In [4]:
# Save file patth to variable
retail_history_csv = "Datasets/EstUS_Retail_Trade_E-commercehistory.csv"

In [5]:
retail_history_df = pd.read_csv(retail_history_csv)
retail_history_df.head()

,Table with row headers in column B and NAICS codes in column A with column headers in rows 4 and 5,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43
0,Estimated Annual U.S. Retail Trade Sales - Tot...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[Estimates are shown in millions of dollars an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NAICS Code,NaN,2018,NaN,2017r,NaN,2016r,NaN,2015r,NaN,...,2002,NaN,2001,NaN,2000,NaN,1999,NaN,1998,NaN
3,NaN,Kind of Business,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce,...,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce
4,NaN,Total Retail Trade ………………………...……………………………………,"5,269,468","519,635","5,053,151","458,916","4,852,958","397,252","4,725,993","346,188",...,"3,128,552","44,623","3,062,268","34,260","2,983,276","27,608","2,803,090","14,490","2,581,762","4,984"